<div class="mobile-nav" style="display: none;">
    <button class="mobile-nav-button" data-page="transactions.html">
        <div class="icon-text">
            &#128195;
            <span>Trans</span>
        </div>
    </button>
    <button class="mobile-nav-button" data-page="statistics.html">
        <div class="icon-text">
            &#128200;
            <span>Stats</span>
        </div>
    </button>
    <button class="mobile-nav-button" data-page="categories.html">
        <div class="icon-text">
            &#128179;
            <span>Categories</span>
        </div>
    </button>
    <button class="mobile-nav-button" data-page="accounts.html">
        <div class="icon-text">
            &#x1F4B0;
            <span>Accounts</span>
        </div>
    </button>
    <button class="mobile-nav-button search" data-page="search.html">
        <div class="icon-text">
            &#128269;
            <span>Search</span>
        </div>
    </button>
    <button class="mobile-nav-button" data-page="settings.html">
        <div class="icon-text">
            &#9881;
            <span>Settings</span>
        </div>
    </button>
</div>