<nav>
    <div class="navigation">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="transactions.html">Transactions</a></li>
            <li><a href="accounts.html" id="accounts-link">Accounts</a></li>
            <li><a href="#">Expenses</a></li>
            <li><a href="statistics.html" id="reports-link">Reports</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="search.html" id="search-link">Search</a></li>
            <li><a href="#" id="logoutButton" style="display: none;">Logout</a></li>
        </ul>
    </div>
</nav>